<odoo>
    <data>
        <menuitem id="menu_root"
                  name="Quản lý phòng họp"
                  groups="group_phong_hop_nhan_vien,group_phong_hop_quan_ly,group_phong_hop_quan_tri"
                  sequence="0"/>

        <menuitem name="Danh sách phòng họp" 
                  id="menu_quan_ly_phong_hop" 
                  parent="menu_root" 
                  sequence="1"
                  action="action_quan_ly_phong_hop"/>

        <menuitem name="Đăng ký mượn phòng" 
                  id="menu_dat_phong" 
                  parent="menu_root" 
                  sequence="2"/>

        <menuitem name="Danh sách chờ duyệt"
                  id="menu_dat_phong_cho_duyet"
                  parent="menu_dat_phong"
                  action="action_dat_phong_cho_duyet"/>

        <menuitem name="Danh sách đã duyệt"
                  id="menu_dat_phong_da_duyet"
                  parent="menu_dat_phong"
                  action="action_dat_phong_da_duyet"/>

        <menuitem name="Danh sách phòng đang sử dụng"
                  id="menu_dat_phong_dang_su_dung"
                  parent="menu_dat_phong"
                  action="action_dat_phong_dang_su_dung"/>

        <menuitem name="Danh sách đã hủy"
                  id="menu_dat_phong_da_huy"
                  parent="menu_dat_phong"
                  action="action_dat_phong_da_huy"/>

        <menuitem name="Lịch sử thay đổi" 
                  id="menu_lich_su_thay_doi" 
                  parent="menu_root" 
                  sequence="3"
                  action="action_lich_su_thay_doi"/>
        <menuitem name="Lịch sử mượn trả" 
                  id="menu_lich_su_muon_tra" 
                  parent="menu_root" 
                  sequence="3"
                  action="action_lich_su_muon_tra"/>

        <menuitem id="menu_dashboard_trang_thai"
                  name="📊 DashBoard"
                  parent="menu_root"
                  action="action_dat_phong_dashboard"/>

        <menuitem id="menu_bao_cao"
                  name="📈 Báo cáo &amp; Thống kê"
                  parent="menu_root"
                  sequence="10"/>

        <menuitem id="menu_bao_cao_su_dung_phong"
                  name="Báo cáo sử dụng phòng"
                  parent="menu_bao_cao"
                  action="action_bao_cao_su_dung_phong"/>
    </data>
</odoo>
