<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem
            id="menu_root"
            name="Quản Lý Nhân Sự"
            sequence="0"/>
          
        <menuitem name="Quản lý nhân viên" 
            id="menu_nhan_vien" 
            parent="menu_root" 
            sequence="1"
            action="action_nhan_vien"
        />

        <menuitem name="Danh mục chung" 
            id="menu_danh_muc_chung" 
            parent="menu_root" 
            sequence="1"
        />

        <menuitem name="Danh mục đơn vị" 
            id="menu_don_vi" 
            parent="menu_danh_muc_chung" 
            sequence="1"
            action="action_don_vi"
        />
        <menuitem name="Danh mục chức vụ" 
            id="menu_chuc_vu" 
            parent="menu_danh_muc_chung" 
            sequence="2"
            action="action_chuc_vu"
        />
        <menuitem name="Danh mục chứng chỉ, bằng cấp" 
            id="menu_chung_chi_bang_cap" 
            parent="menu_danh_muc_chung" 
            sequence="3"
            action="action_chung_chi_bang_cap"
        />
        <menuitem name="Vai trò nghiệp vụ" 
            id="menu_hr_role" 
            parent="menu_danh_muc_chung" 
            sequence="4"
            action="action_hr_role"
        />
        
        <menuitem name="Lịch sử công tác" 
            id="menu_lich_su_cong_tac" 
            parent="menu_root" 
            sequence="2"
            action="action_lich_su_cong_tac"
        />
        <menuitem name="Danh sách chứng chỉ, bằng cấp" 
            id="menu_danh_sach_chung_chi_bang_cap" 
            parent="menu_root" 
            sequence="3"
            action="action_danh_sach_chung_chi_bang_cap"
        />

        <!-- Chấm công -->
        <menuitem name="Chấm công" 
            id="menu_cham_cong" 
            parent="menu_root" 
            sequence="10"
        />
        <menuitem name="Chấm công" 
            id="menu_cham_cong_list" 
            parent="menu_cham_cong" 
            sequence="1"
            action="action_cham_cong"
        />

        <!-- Nghỉ phép -->
        <menuitem name="Nghỉ phép" 
            id="menu_nghi_phep" 
            parent="menu_root" 
            sequence="11"
        />
        <menuitem name="Đơn nghỉ phép" 
            id="menu_don_nghi_phep" 
            parent="menu_nghi_phep" 
            sequence="1"
            action="action_don_nghi_phep"
        />
        <menuitem name="Đơn của tôi" 
            id="menu_don_nghi_phep_cua_toi" 
            parent="menu_nghi_phep" 
            sequence="2"
            action="action_don_nghi_phep_cua_toi"
        />
        <menuitem name="Chờ phê duyệt" 
            id="menu_don_nghi_phep_cho_duyet" 
            parent="menu_nghi_phep" 
            sequence="3"
            action="action_don_nghi_phep_cho_duyet"
        />
    </data>
</odoo>

